import React from 'react';

interface {{pascalCase name}}PageProps {}

export const {{pascalCase name}}Page: React.FC<{{pascalCase name}}PageProps> = (props) => {
  return <div data-testid="{{kebabCase name}}-page"></div>;
};
